/** ___  Setting  __________________________________________________
 * 
 *    此檔案為網站設定檔，包含基本字體、顏色、尺寸、網址
 *		可以透過切換此檔進行改動
 * ___________________________________________________________ */

$base-color: #00a8ff;
$base-hover-color: #0070bf;
$header-menu-height: 60px; // 上方選單高度
$submenu-width: 270px; // 子選單第一層
$mobile-menu-height: 60px;
$urlPath: "//example.com/media/img/2015/";
// $urlPath: "../";  // 用法 url("" + $urlPath + "/icons/global_icon.png")
// $urlPath: "../../img/2015/";  // 用法 url("" + $urlPath + "/icons/global_icon.png")
